.header {
  width: 100%;
  height: 40vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .header-overlay {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .header-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px; // 調整波浪高度
    z-index: 3;

    svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  .title h1 {
    color: white;
    // font-size: 2.5rem;
    margin-top: -20px;
    border: none;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    z-index: 4;
  }
  h3{
    color: white;
    font-size: 1.5rem;
    margin-top: -20px;
    border: none;
    letter-spacing: 4px;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    z-index: 4;
  }
}
