.title {
  margin: 1rem 0;
    text-align: center;
  h1 {
    display: inline-block;
    // border-top: 1px solid #ccc;
    // border-bottom: 1px solid #ccc;
    border-top: 2px solid #d1421c;
    border-bottom: 2px solid #d1421c;
    padding: 1rem 2rem;
    letter-spacing: 0.5rem;
  }
}
