@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap');

* {
  font-family: "Noto Sans TC", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.about {
  min-height: 80vh;
  padding-top: 80px; /* 和 navbar 高度對應 */
}

.inner-pages{
  min-height: 100vh; // ✅ 高度自適應內容
//   padding: 2rem;
  scroll-margin-top: 80px; /* 對應你的 navbar 高度 */
}

.pages{
  min-height: 100vh;
  padding-top: 80px; /* 和 navbar 高度對應 */
}

@import "./components/Navbar";
@import "./components/Footer";
@import "./components/BackToTopButton";
@import "./components/Title";
@import "./components/Header";
@import "./components/Header2";


@import "./pages/HomePage";

@import "./layouts/HomePage/_Home";
@import "./layouts/HomePage/_InnerPages";